<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  <meta name="author" content="{{ site.author.name }}">

  <!-- Enable responsive viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- font libs -->
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"/>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>

  <!-- favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <!-- Bootstrap styles -->
  <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Optional theme -->
  <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="{{ ASSET_PATH }}/bootstrap/css/bs-sticky-footer.css" rel="stylesheet">
  <!-- JPList css -->
  <link href="{{ ASSET_PATH }}/jplist/css/jplist.core.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ ASSET_PATH }}/jplist/css/jplist.textbox-filter.min.css" rel="stylesheet" type="text/css"/>
  <!-- Custom styles -->
  <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

  <!-- atom & rss feed -->
  <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate"
        title="Sitewide ATOM Feed">
  <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate"
        title="Sitewide RSS Feed">

</head>

<body>
<div id="wrap">
  <header>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jb-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}"><img src="/images/logo/tien-phat-locksmith-brand.png"
                                                              alt="{{ site.title }}" height="40"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="jb-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about/index.html">Làm</a></li>
            <li><a href="/keys/index.html">Chìa</a></li>
            <li><a href="/locks/index.html">Khóa</a></li>
            <li><a href="/cars/index.html">Ô tô</a></li>
            <li><a href="/safes/index.html">Két sắt</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">Blog <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% assign pages_list = site.pages %}
                {% assign group = 'navigation' %}
                {% include JB/pages_list %}
              </ul>
            </li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  </header>

  <!-- main content -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 header-search">
        <form id="search-form" action="/search/index.html" method="get">
          <div class="input-group">
            <input id="search-box" type="text" class="form-control" autocomplete="off"
                   placeholder="Tìm kiếm sản phẩm, danh mục hay thương hiệu mong muốn..."
                   name="q">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
              <span class="search-label"> Tìm kiếm</span>
            </button>
          </span>
          </div>
        </form>
      </div>
    </div>

    <div id="demo">
      <!-- panel -->
      <div class="jplist-panel box panel-top">
        <!-- search any text in the element -->
        <div class="text-filter-box">
          <input id="search-form-jplist"
                 data-path="*"
                 type="hidden"
                 value=""
                 data-control-type="textbox"
                 data-control-name="title-filter"
                 data-control-action="filter"
          />
        </div>
      </div>
      {{ content }}
    </div>
  </div>
</div>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p>Tiệm khóa Tiến Phát</p>
        <p>- Cung cấp dịch vụ sửa khóa</p>
        <p>- Phân phối khóa, chìa khóa và các vật tư ngành khóa</p>
        <p>- Tư vấn và triển khai giải pháp khóa an toàn dân dụng, văn phòng công ty</p>
        <p>- Làm chip điện tử và điều khiển từ xa (remote) khóa ô tô</p>
        <p>- Làm điều khiển (remote) cửa cuốn</p>
        <p>- Lắp khóa chống trộm xe máy</p>
        <p>- Mở và làm chìa khóa két sắt</p>
      </div>
      <div class="col-sm-4">
        <p>Liên hệ:</p>
        <a href="tel:(+84)0905748973">
          <p>0905.74.89.73</p>
        </a>
        <a href="tel:(+84)0942975959">
          <p>0942.97.97.59</p>
        </a>
        <p>Địa chỉ: 10 Nguyễn Chí Thanh, TP. Buôn Ma Thuột</p>
      </div>
      <div class="col-sm-4">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8115.186406642887!2d108.05805945795288!3d12.693609538496057!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x89961b2411afda4e!2zVGnhu4dtIEtow7NhIFRp4bq_biBQaMOhdA!5e0!3m2!1svi!2s!4v1463897004899"
            width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <small>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}</small>
        <small>Powered by <span><a href="http://jekyllrb.com">Jekyll Bootstrap</a></span> and <span><a
            href="https://pages.github.com">Github
          Pages</a>
        </span></small>
      </div>
    </div>
  </div>
</footer>

{% include JB/analytics %}

<!-- Latest compiled and minified JavaScript, requires jQuery 1.x (2.x not supported in IE8) -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery lib -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
<!-- JPList js -->
<script src="{{ ASSET_PATH }}/jplist/js/jplist.core.min.js"></script>
<script src="{{ ASSET_PATH }}/jplist/js/jplist.textbox-filter.min.js"></script>
<script src="{{ ASSET_PATH }}/jplist/js/jplist.bootstrap-pagination-bundle.min.js"></script>
<script src="{{ ASSET_PATH }}/jplist/js/jplist.bootstrap-sort-dropdown.min.js"></script>

<script src="/assets/data.js"></script>
<script src="{{ ASSET_PATH }}/js/app.js"></script>
</body>
</html>
