---
layout: page
title: Khóa
description: bán sỉ và lẻ các loại khóa treo, khóa cửa, khóa tủ. Nhận lắp đặt khóa cho công trình, khóa công ty, trường học, khóa văn phòng.
group: mainmenu
---
{% include JB/setup %}

<div id="demo">
  <div class="option-box">
    <div class="sort-box-holder">
      <!-- panel -->
      <div class="jplist-panel">
        <!-- jplist bootstrap sort dropdown control -->
        <div
            class="dropdown"
            data-control-type="boot-sort-drop-down"
            data-control-name="bootstrap-sort-dropdown-demo"
            data-control-action="sort"
            data-datetime-format="{month}/{day}/{year}"> <!-- {year}, {month}, {day}, {hour}, {min}, {sec} -->

          <button
              class="btn btn-default dropdown-toggle"
              type="button"
              id="sort-by-dropdown-btn"
              data-toggle="dropdown"
              aria-expanded="true">
            <span data-type="selected-text">Sort by</span>
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu" role="menu" aria-labelledby="sort by menu">

            <li role="presentation">
              <a
                  role="menuitem"
                  tabindex="-1"
                  href="#"
                  data-path=".product-name"
                  data-order="asc"
                  data-type="text">Tên A-Z</a>
            </li>

            <li role="presentation">
              <a
                  role="menuitem"
                  tabindex="-1"
                  href="#"
                  data-path=".product-name"
                  data-order="desc"
                  data-type="text">Tên Z-A</a>
            </li>

            <li role="presentation" class="divider"></li>

            <li role="presentation">
              <a
                  role="menuitem"
                  tabindex="-1"
                  href="#"
                  data-path=".product-price"
                  data-order="asc"
                  data-type="number">Giá &#8593;</a>
            </li>

            <li role="presentation">
              <a
                  role="menuitem"
                  tabindex="-1"
                  href="#"
                  data-path=".product-price"
                  data-order="desc"
                  data-type="number">Giá &#8595;</a>
            </li>

            <li role="presentation" class="divider"></li>

            <li role="presentation">
              <a
                  role="menuitem"
                  tabindex="-1"
                  href="#"
                  data-path=".product-common"
                  data-order="asc"
                  data-type="number"
                  data-default="true">Phổ biến nhất</a>
            </li>

            <li role="presentation">
              <a
                  role="menuitem"
                  tabindex="-1"
                  href="#"
                  data-path=".date"
                  data-order="desc"
                  data-type="datetime">Hàng mới nhập</a>
            </li>
            <!--
                        <li role="presentation">
                          <a
                              role="menuitem"
                              tabindex="-1"
                              href="#"
                              data-path=".discount"
                              data-order="desc"
                              data-type="number">Giảm giá nhiều nhất</a>
                        </li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- HTML data -->
  <div class="product-box-list">
    <ul class="list products">
      {% for product in site.data.products %}
      {% if product.type == 'lock' %}
      <li class="list-item product">
        <a href="#" title="{{ product.name }}">
          <img class="product-img" src="http://placehold.it/200x200" alt="{{ product.name }}">
          <h4 class="product-name">{{ product.name }}</h4>
        </a>
        <span class="product-price">{{ product.price }}</span><span class="product-price-unit">đ</span>
        {% if product.remain == 'FALSE' %}
        <img class="product-sold-out-label" src="http://placehold.it/20x20" alt="Het hang">
        {% endif %}
        <div style="display: none">
          <span class="product-name-index">{{ product.name-index }}</span>
          <span class="product-common">{{ product.common }}</span>
        </div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <!-- panel -->
  <div class="pager-box-holder">
    <div class="jplist-panel">
      <!-- pagination control -->
      <ul
          class="pagination jplist-pagination"
          data-control-type="boot-pagination"
          data-control-name="paging"
          data-control-action="paging"
          data-range="3"
          data-mode="google-like"
          data-items-per-page="12">
      </ul>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="call-now">
  <h3>Gọi ngay</h3>
  <div class="call-button"><a href="tel:(+84)01224512545">
    <h1>01224512545</h1>
  </a>
  </div>
</div>

<h3>Bản đồ</h3>
<div class="location">
  <h4>Tiệm khóa Tiến Phát</h4>
  <p><strong>Địa chỉ:</strong> 5 Nguyễn Văn Cừ, TP. Buôn Ma Thuột, Tỉnh Dak Lak</p>

  <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3892.3182384608685!2d108.06284656893095!3d12.692639994314332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3171f7c4374bdd6f%3A0x89961b2411afda4e!2zVGnhu4dtIEtow7NhIFRp4bq_biBQaMOhdA!5e0!3m2!1svi!2s!4v1456590906784"
      width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>