---
layout: page
title: Kết quả tìm kiếm cho
description: Tìm kiếm sản phẩm trên trang sửa khóa Buôn Ma Thuột
---
{% include JB/setup %}

<div id="demo">
  <div class="option-box">
    <div class="sort-box-holder">
      <!-- panel -->
      <div class="jplist-panel">
        <!-- jplist bootstrap sort dropdown control -->
        <div
            class="dropdown"
            data-control-type="boot-sort-drop-down"
            data-control-name="bootstrap-sort-dropdown-demo"
            data-control-action="sort"
            data-datetime-format="{month}/{day}/{year}"> <!-- {year}, {month}, {day}, {hour}, {min}, {sec} -->

          <button
              class="btn btn-default dropdown-toggle"
              type="button"
              id="sort-by-dropdown-btn"
              data-toggle="dropdown"
              aria-expanded="true">
            <span data-type="selected-text">Sort by</span>
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu" role="menu" aria-labelledby="sort by menu">

            <li role="presentation">
              <a
                  role="menuitem"
                  tabindex="-1"
                  href="#"
                  data-path=".product-name"
                  data-order="asc"
                  data-type="text">Tên A-Z</a>
            </li>

            <li role="presentation">
              <a
                  role="menuitem"
                  tabindex="-1"
                  href="#"
                  data-path=".product-name"
                  data-order="desc"
                  data-type="text">Tên Z-A</a>
            </li>

            <li role="presentation" class="divider"></li>

            <li role="presentation">
              <a
                  role="menuitem"
                  tabindex="-1"
                  href="#"
                  data-path=".product-price"
                  data-order="asc"
                  data-type="number">Giá &#8593;</a>
            </li>

            <li role="presentation">
              <a
                  role="menuitem"
                  tabindex="-1"
                  href="#"
                  data-path=".product-price"
                  data-order="desc"
                  data-type="number">Giá &#8595;</a>
            </li>

            <li role="presentation" class="divider"></li>

            <li role="presentation">
              <a
                  role="menuitem"
                  tabindex="-1"
                  href="#"
                  data-path=".product-common"
                  data-order="asc"
                  data-type="number"
                  data-default="true">Phổ biến nhất</a>
            </li>

            <li role="presentation">
              <a
                  role="menuitem"
                  tabindex="-1"
                  href="#"
                  data-path=".date"
                  data-order="desc"
                  data-type="datetime">Hàng mới nhập</a>
            </li>
            <!--
                        <li role="presentation">
                          <a
                              role="menuitem"
                              tabindex="-1"
                              href="#"
                              data-path=".discount"
                              data-order="desc"
                              data-type="number">Giảm giá nhiều nhất</a>
                        </li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- HTML data -->
  <div class="product-box-list">
    <ul class="list products">
      {% for product in site.data.products %}
      <li class="list-item product">
        <a href="#" title="{{ product.name }}">
          <img class="product-img" src="http://placehold.it/200x200" alt="{{ product.name }}">
          <h4 class="product-name">{{ product.name }}</h4>
        </a>
        <span class="product-price">{{ product.price }}</span><span class="product-price-unit">đ</span>
        {% if product.remain == 'FALSE' %}
        <img class="product-sold-out" src="http://placehold.it/20x20" alt="Het hang">
        {% endif %}
        <div style="display: none">
          <span class="product-name-index">{{ product.name-index }}</span>
          <span class="product-common">{{ product.common }}</span>
        </div>
      </li>
      {% endfor %}
    </ul>
    <!-- no results found -->
    <div class="jplist-no-results">
      <p>Không tìm thấy sản phẩm nào tương ứng!</p>
    </div>
  </div>
  <!-- panel -->
  <div class="pager-box-holder">
    <div class="jplist-panel">
      <!-- pagination control -->
      <ul
          class="pagination jplist-pagination"
          data-control-type="boot-pagination"
          data-control-name="paging"
          data-control-action="paging"
          data-range="3"
          data-mode="google-like"
          data-items-per-page="12">
      </ul>
    </div>
  </div>
</div>