---
layout: page
title: Kết quả tìm kiếm cho
description: Tìm kiếm sản phẩm trên trang sửa khóa Buôn Ma Thuột
---
{% include JB/setup %}

<div id="demo">
  <!-- panel -->
  <div class="jplist-panel">
    <div class="center-block">
      <ul
          class="pagination jplist-pagination"
          data-control-type="boot-pagination"
          data-control-name="paging"
          data-control-action="paging"
          data-range="3"
          data-mode="google-like"
          data-items-per-page="12">
      </ul>
    </div>
  </div>
  <!-- HTML data -->
  <div class="product-box-list">
    <ul class="list products">
      {% for product in site.data.products %}
      <li class="list-item product">
        <a href="#" title="{{ product.name }}">
          <img class="product-img" src="http://placehold.it/200x200" alt="{{ product.name }}">
          <h4 class="product-name">{{ product.name }}</h4>
        </a>
        <span class="product-price">{{ product.price }}</span><span class="product-price-unit">đ</span>
      </li>
      {% endfor %}
    </ul>
    <!-- no results found -->
    <div class="jplist-no-results">
      <p>Không tìm thấy sản phẩm nào tương ứng!</p>
    </div>
  </div>
  <!-- panel -->
  <div class="center-block">
    <div class="jplist-panel">
      <ul
          class="pagination pull-left jplist-pagination"
          data-control-type="boot-pagination"
          data-control-name="paging"
          data-control-action="paging"
          data-range="3"
          data-mode="google-like"
          data-items-per-page="12">
      </ul>
    </div>
  </div>
</div>